/* -- Apply parallax to main video background -- */
.homepage-banner-video-bg {
  position: absolute;
  z-index: -999;
}

/* -- Cleveland National Forest background -- */
.homepage-banner-cleveland-national-forest-bg {
  background-image: url("../../../gfx/interface/cleveland_fog.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* -- Rain background -- */
.homepage-banner-rain-bg, .homepage-banner-raindrops-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}
.homepage-banner-rain-bg {
  background-image: url("../../../gfx/interface/rainy_night_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  filter: brightness(0.65);
}
