/* -- Topbar close button -- */
#ministrat-close-button {
  position: fixed;

  height: 2rem;
  left: 1rem;
  top: 1rem;
  width: 2rem;

  padding: 0.75rem;

  border-radius: 50%;
  opacity: 1;
  pointer-events: auto;
  transition: all 2s ease, background-color 0.5s ease;
  user-select: none;
  z-index: 3;
}
#ministrat-close-button:hover {
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.2);
}
.ministrat-container:not(.expanded) #ministrat-close-button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/* -- Topbar layout -- */
.ministrat-container:not(.expanded) #ministrat-topbar-container {
  display: none;
}
.ministrat-container #ministrat-topbar-container {
  position: fixed;

  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;

  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  pointer-events: none;
  user-select: none;

  /* -- Clock CSS -- */
  #ministrat-clock {
    float: right;
  }

  /* -- Time control icons -- */
  #time-controls-container {
    float: right;
    padding-right: 0.5rem;
  }
  .time-icon {
    height: 1.75rem;
    width: 1.75rem;

    padding-left: 0.1rem;
    transition: all 0.5s ease;
  }
  .time-icon:not(.active) {
    filter: opacity(0.2);
  }
  .time-icon:not(.active):hover {
    filter: opacity(0.7);
  }
  .time-icon:hover {
    cursor: pointer;
  }

  /* -- Time display styling -- */
  #date-container {
    font-family: "Engschrift";
    font-size: 1.5rem;
    color: rgba(40, 255, 226, 1);
    text-transform: uppercase;

    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    transition: all 1s ease;
    padding-left: 0.5rem;
  }
  #date-container.paused {
    background-color: rgba(240, 60, 60);
    color: white;
    padding-right: 0.5rem;
  }
}
.ministrat-container #ministrat-topbar-container
  #time-controls-container {
    pointer-events: auto;
  }