/* -- Set max height for body -- */
html {
  font-size: clamp(16px, 1.25vh, 1.25vh); /* -- Sets rem -- */
  scrollbar-width: none;
}

/* -- Adjust other page wrappers/containers -- */
.page-container {
  height: 100dvh;
  width: 100dvw;
  max-height: 100% !important;
  overflow-y: auto;
}

.project-parallax-anchor {
  position: absolute;
  top: 100dvh;
  left: 0px;
}
.ministrat-anchor {
  position: absolute;
  top: 200dvh;
  left: 0px;
}

:root {
  --parallax-offset-x: calc(23vw);
  --parallax-offset-y: -12.5vh;

  --content-panel-offset-x: -5dvh;
  --content-panel-offset-y: -125dvh;
}
