/* -- Tile Folding Animations -- */
[animation="atlas"] { transform: translate(-16vh, -4vh); }
[animation="datasets"] { transform: translate(-32vh, -4vh); }
[animation="eoscala"] { transform: translate(-16vh, 0vh); }
[animation="histmap"] { transform: translate(-28vh, 0vh); }
[animation="livemap-collation"] { transform: translate(0vh, -28vh); }
[animation="naissance"] { transform: translate(-28vh, 0vh); }
[animation="velkscala"] { transform: translate(0vh, 16vh); }
[animation="stadester"] { transform: translate(0vh, 12vh); }

[animation="analytical-engine"] { transform: translate(-18vh, 0vh); }
[animation="blacktraffic"] { transform: translate(12vh, 0vh); }
[animation="geospatiale"] { transform: translate(12vh, 0vh); }
[animation="eleven-fifty-nine"] { transform: translate(-12vh, 0vh); }
[animation="forse-scriptly-ide"] { transform: translate(0vh, -12vh); }
[animation="into-modernity"] { transform: translate(0vh, -16vh); }
[animation="last-man-standing"] { transform: translate(-16vh, 0vh); }
[animation="proxy-cables"] { transform: translate(-16vh, 0vh); }
[animation="system-dynamics"] { transform: translate(0vh, -16vh); }
[animation="triumph-and-tragedy-one"] { transform: translate(0vh, -18vh); }
[animation="triumph-and-tragedy-two"] { transform: translate(-32vh, -32vh); }
[animation="universal-framework"] { transform: translate(0vh, -12vh); }
[animation="vercengen"] { transform: translate(0vh, -28vh); }

[animation="art-gallery"] { transform: translate(0vh, -24vh); }
[animation="blogs"] { transform: translate(-12vh, 0vh); }
[animation="digital-holdings"] { transform: translate(-16vh, 0vh); }
[animation="gearth-mc"] { transform: translate(-24vh, 0vh); }
[animation="personnel"] { transform: translate(-24vh, -24vh); }
[animation="physical-holdings"] { transform: translate(-16vh, -8vh); }
[animation="preserves"] { transform: translate(-24vh, -24vh); }